# Pandas 07 - Sorting data

In [1]:
import pandas as pd

In [2]:
persons = {
    'First': ['Corey', 'Guido', 'Walter', 'Jesse'],
    'Last': ['Doe', 'Van', 'White', 'Pinkman'],
    'Occupation': ['Developer', 'Master', 'Chamestry', 'Businessman']
}
df = pd.DataFrame(persons)
df

    First     Last   Occupation
0   Corey      Doe    Developer
1   Guido      Van       Master
2  Walter    White    Chamestry
3   Jesse  Pinkman  Businessman

### Metodo sort_values()
by toma la columna a ordenar, por defecto ordena de forma ascendente, para cancelar se utiliza la funcion ascending=False.

In [3]:
# ordena los elementos por columna de manera ascendente
df.sort_values(by='Last')

    First     Last   Occupation
0   Corey      Doe    Developer
3   Jesse  Pinkman  Businessman
1   Guido      Van       Master
2  Walter    White    Chamestry

In [4]:
# ordena de manera descendente
df.sort_values(by='Last', ascending=False)

    First     Last   Occupation
2  Walter    White    Chamestry
1   Guido      Van       Master
3   Jesse  Pinkman  Businessman
0   Corey      Doe    Developer

In [5]:
df.sort_values(by='First')

    First     Last   Occupation
0   Corey      Doe    Developer
1   Guido      Van       Master
3   Jesse  Pinkman  Businessman
2  Walter    White    Chamestry

In [6]:
# ordenar varias columnas
df.sort_values(by=['First', 'Last'])

    First     Last   Occupation
0   Corey      Doe    Developer
1   Guido      Van       Master
3   Jesse  Pinkman  Businessman
2  Walter    White    Chamestry

In [7]:
df.sort_values(by=['First', 'Last'], ascending=False)

    First     Last   Occupation
2  Walter    White    Chamestry
3   Jesse  Pinkman  Businessman
1   Guido      Van       Master
0   Corey      Doe    Developer

In [8]:
stack = pd.read_csv('survey_results_public.csv')

In [9]:
stack.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [10]:
stack.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [11]:
stack.sort_values(by=['Country', 'Hobbyist'], inplace=True)

In [12]:
stack[['Country', 'Hobbyist']].head(20)

           Country Hobbyist
719    Afghanistan       No
7323   Afghanistan       No
22327  Afghanistan       No
26189  Afghanistan       No
28877  Afghanistan       No
37571  Afghanistan       No
44123  Afghanistan       No
45562  Afghanistan       No
48122  Afghanistan       No
49377  Afghanistan       No
50437  Afghanistan       No
60185  Afghanistan       No
60559  Afghanistan       No
85185  Afghanistan       No
88735  Afghanistan       No
6391   Afghanistan      Yes
7056   Afghanistan      Yes
8112   Afghanistan      Yes
10697  Afghanistan      Yes
12253  Afghanistan      Yes

### Metodo sum().
Devuelve la suma de todo el eje, por ejemplo todos los valores de una columna.

In [13]:
stack['Respondent'].sum()

3950138286

In [14]:
# sumar todas las edades
stack['Age'].sum()

2402969.9000000004

### Metodo nlargest().
Se utiliza para obtener los valores mas grandes. Toma 2 argumentosnel primero es un entero que representa el numeronde registros a mostras y el segundo es la columna a usar.

In [15]:
stack.nlargest(20, 'Age')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
34757,34973,"I used to be a developer by profession, but no...",No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Argentina,"Yes, part-time",NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,NaN,Yes,Gay or Lesbian,NaN,No,Too short,Difficult
11279,11332,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, but looking for work",Azerbaijan,NaN,I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,"Non-binary, genderqueer, or gender non-conforming",Yes,Bisexual,NaN,Yes,Too long,Difficult
16126,16214,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,99.0,NaN,No,NaN,NaN,NaN,Too long,Easy
43862,44142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Belgium,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,99.0,Man,No,Bisexual;Gay or Lesbian;Straight / Heterosexual,South Asian,Yes,Too long,Difficult
25147,25294,I code primarily as a hobby,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,Brazil,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Somewhat more welcome now than last year,NaN,99.0,Woman,Yes,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
57808,58176,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Canada,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,99.0,Man,NaN,Straight / Heterosexual,NaN,No,Too long,Neither easy nor difficult
27680,27841,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,99.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
78072,78562,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,99.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
69840,70284,I am a student who is learning to code,No,Never,NaN,"Not employed, and not looking for work",Finland,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,No,Appropriate in length,Difficult
29707,29884,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Finland,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,A lot less welcome now than last year,Industry news about technologies you're intere...,99.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Difficult
61847,62246,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed part-time,Germany,NaN,Some college/university study without earning ...,"Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,99.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
9792,9833,I am a student who is learning to code,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Hungary,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,99.0,NaN,NaN,NaN,NaN,No,NaN,NaN
83561,84084,"I used to be a developer by profession, but no...",No,Never,"OSS is, on average, of LOWER quality than prop...",Retired,Japan,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,NaN,NaN,NaN,Black or of African descent;East Asian;Hispani...,NaN,Too long,Difficult
36089,36312,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Norway,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,NaN,99.0,"Woman;Man;Non-binary, genderqueer, or gender n...",NaN,NaN,NaN,NaN,NaN,NaN
11495,11548,I am a student who is learning to code,No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Thailand,"Yes, part-time",Associate degree,I never declared a major,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,99.0,"Woman;Man;Non-binary, genderqueer, or gender n...",No,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;East Asian;Hispani...,Yes,Too long,Easy
20086,20199,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,99.0,Man,No,Straight / Heterosexual,White or of European descent,NaN,Too long,Neither easy nor difficult
50517,50847,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,99.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
83085,83601,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",...,Just as welcome now as I felt last year,NaN,99.0,Man,No,Straight / Heterosexual,NaN,NaN,Too long,Neither easy nor difficult
87858,88407,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,NaN,NaN,NaN,...,Just as welcome now as I felt last year,NaN,99.0,NaN,NaN,NaN,NaN,NaN,Too long,Easy
42514,42787,"I am not primarily a developer, but I write co...",Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Viet Nam,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,99.0,Man,Yes,NaN,NaN,Yes,NaN,NaN